div h1{
    color: black;
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    background-color: aquamarine;

}
div p{
    color: black;
    font-weight: bolder;
    background-color: lightgray;
    text-align: center;
}

.div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.div2{
    border:5px solid black;
    margin:9px;
    padding: 10px;
    display: block;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.203);
    height:300px;
    width:500px;
    background-color: cornflowerblue;

}

.div2 button{
    background-color:lightgreen ;
}


.div3{
    border:5px solid black;
    margin:9px;
    padding: 10px;
    display: block;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.203);
    height:300px;
    width:500px;
    background-color: lightskyblue;

}

.div3 button{
    background-color:lightgreen ;
}


.div4{
    border:5px solid black;
    margin:9px;
    padding: 10px;
    display: block;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.203);
    height:300px;
    width:500px;
    background-color: pink;

}

.div4 button{
    background-color:lightgreen ;
}
.div5{
    border:5px solid black;
    margin:9px;
    padding: 10px;
    display: block;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.203);
    height:300px;
    width:500px;
    background-color: lightpink;

}

.div5 button{
    background-color:lightgreen ;
}
.div6{
    border:5px solid black;
    margin:9px;
    padding: 10px;
    display: block;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.203);
    height:300px;
    width:500px;
    background-color: cornflowerblue;

}

.div6 button{
    background-color:lightgreen ;
}
.div7{
    border:5px solid black;
    margin:9px;
    padding: 10px;
    display: block;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.203);
    height:300px;
    width:500px;
    background-color: lightgreen;

}

.div7 button{
    background-color:lightgreen ;
}